/* Provide sufficient contrast against white background */

body {
  background-color: #424242;
  color: white;
}

nav {
  background-color: rgb(0, 122, 179);
}

.border-bottom {
  border-bottom: 1px solid rgb(1, 111, 161) !important;
}

a {
  color: #ffffff;
}

a:hover {
  color: #d3d3d3;
}

code {
  color: rgb(0, 216, 180);
}